{% extends "blog/base.html" %}
{% block content %}
    <h1>About Me!</h1>

    <p>My name is Debbie Thompson and I have been a maths teacher for 28 years</p>
    <p>25 of those years were spent working in secondary schools.</p>
    <p>I now work as an online tutor of maths and computer science and have a keen</p>
    <p>interest in working on full stack apps using the django and python frameworks!</p>
    <br>
    <p>In my time working as an online tutor and full time teacher I have developed many</p>
    <p>skills and a resources bank.  It will be great to share these ideas with other tutors.</p>
    <p>So the idea behind creating this app is for all tutors to be able to share ideas on teaching</p>
    <p>maths and computer science so that all tutors can have access to these ideas and resources.</p>
    <br>
    <p>Please take a look at the blog and resources pages to see if there is anything there</p>
    <p>that may be of interest to you and also please do add any ideas or resources that you</p>
    <p>have that you think other teachers might find useful.</p>
{% endblock content %}